{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="card p-5 bg-dark text-light mx-auto" style="max-width: 500px;">
        <h1 class="h3 mb-4 font-weight-normal text-center">S'inscrire</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username, {
                'attr': {'class': 'form-control bg-dark text-light border-light'}
            }) }}
            {{ form_row(registrationForm.email, {
                'attr': {'class': 'form-control bg-dark text-light border-light'}
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                'label': 'Mot de passe',
                'attr': {'class': 'form-control bg-dark text-light border-light'}
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                'attr': {'class': 'form-check-input'}
            }) }}

            <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

