{% extends './base.html.twig' %}

{% block title %}
	Tous les services
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center align-items-center mb-4">
		<h1 class="text-center text-light">Tous les Services</h1>
	</div>
	<div class="row d-flex justify-content-around mb-4">
		<a class="btn btn-primary btn-md col-4 rounded" href="{{ path('admin.service.create') }}">Ajouter un service</a>
		<div class="col-1"></div>
		<div class="col-6">
			<input type="text" id="filterInput" class="form-control bg-dark text-light 54654 border-light rounded" placeholder="Code barre" style="color: #adb5bd;">
		</div>
	</div>
	<table class="table table-dark border border-light" id="sortableTable">
		<thead>
			<tr>
				<th class="h4 text-center">Nom</th>
				<th class="h4 text-center">Prix de vente TTC</th>
				<th class="h4 text-center">montant de la marge</th>
				<th class="h4 text-center">Code-barre</th>
				<th class="h4 text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for service in services %}
				<tr>
					<td>
						<a class="text-light h5 service_name" href="{{ path('admin.service.edit',{id: service.id}) }}">{{ service.name }}</a>
					</td>
					<td>
						<p class="text-center text-light h5">{{ service.sellingPrice| number_format(2, ',', ' ') }}
							€</p>
					</td>
					<td>
						<p class="text-center text-light h5">{{ service.marginAmount| number_format(2, ',', ' ') }}
							€</p>
					</td>
					<td>
						<p class="text-center text-light h5 bareCode">{{ service.barCode }}</p>
					</td>
					<td>
						<div class="d-flex justify-content-center h5 gap-1">
							<a class="btn btn-primary btn-sm rounded" href="{{ path('admin.service.edit',{id: service.id}) }}">Modifier</a>
							<form method="post" action="{{ path('admin.service.delete', {'id': service.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce service ?');">
								<input type="hidden" name="_method" value="DELETE">
								<button class="btn btn-danger rounded">Supprimer</button>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
